.header {
    grid-area: h;
    background: url(../../assets/images/logo.svg) 1% center no-repeat, #0082CA;
}

.loginBlock {
    float: right;
    margin: 15px 10px;
}
.loginBlock div{
    font-weight: bold;
    color: white;
}

.headerButton {
    background-color: #f3f3f3;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    width: 75px;
    height: 30px;
}
.headerButton:active,.headerButton:focus{
    outline: none;
}
.headerButton:hover{
    background-color: #ffffff;
    cursor: pointer;
}
