.nav{
    grid-area: n;
    background-color: #0082CA;
    padding: 20px;
    min-height: 80vh;
    font-size: 24px;
}
.item a{
    color: silver;
    text-decoration: none;
}
.item a.activeLink{
    color: white;
}
