.descriptionBlock{
    padding: 10px;
}
.mainPhoto{
    max-width: 200px;
    border-radius: 50%;
}
.contact{
    padding-left: 10px;
}
.buttonProfile {
    background-color: #566A8F;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    margin-top: 10px;
}

.buttonProfile:active, .buttonProfile:focus {
    outline: none;
}

.buttonProfile:hover{
    background-color: #006DA9;
    cursor: pointer;
}
