.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {

}

.dialogs .dialog {

}

.messages {
    padding: 10px;
}

.messages .message {
    padding: 10px;
    border: 1px solid #ffffff;
    margin-bottom: 10px;;
}

.sendMessage{
    background-color: #566A8F;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    width: 75px;
    height: 30px;
}
.sendMessage:active, .sendMessage:focus{
    outline: none;
}
.sendMessage:hover{
    background-color: #006DA9;
    cursor: pointer;
}
